<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>485008138870-v8gnd2us6i86k9fv80tohdibpg9c4btv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.485008138870-v8gnd2us6i86k9fv80tohdibpg9c4btv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>485008138870-90401dvc51i0lstcfjqojmfqir9shc75.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBlpzhw65UhWvnuCKDlG9MjIxdUb_JRfIA</string>
	<key>GCM_SENDER_ID</key>
	<string>485008138870</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vndn.gsgr</string>
	<key>PROJECT_ID</key>
	<string>gsgr-94f2d</string>
	<key>STORAGE_BUCKET</key>
	<string>gsgr-94f2d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:485008138870:ios:62ec666b9ddd0a5f323557</string>
	<key>DATABASE_URL</key>
	<string>https://gsgr-94f2d-default-rtdb.firebaseio.com</string>
</dict>
</plist>